<!-- $Id: bonus_type_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

{include file="pageheader.htm"}
<style>
.block-input{float: left;min-width:50px !important;max-width:100px !important;}	
.block-remove{float: left;width:5%;}
.block-button{float: left;margin: 5px !important;height: 28px !important;}
.left-float{float: left;}
.block-label{height: 28px;line-height: 28px;margin: 5px;}
</style>
<div class="main-div">
<form action="bonus.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table width="100%">
  <tr>
    <td class="label">{$lang.type_name}</td>
    <td>
      <input type='text' name='type_name' maxlength="30" value="{$bonus_arr.type_name}" size='20' /><span class="require-field">*</span>   </td>
  </tr>
  <tr>
    <td class="label">
      <a href="javascript:showNotice('Type_money_a');" title="{$lang.form_notice}">
      <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.type_money}</td>
    <td>
    <input type="text" name="type_money" value="{$bonus_arr.type_money}" size="20" /><span class="require-field">*</span>
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="Type_money_a">{$lang.type_money_notic}</span>    </td>
  </tr>
  <tr>
    <td class="label"><a href="javascript:showNotice('NoticeMinGoodsAmount');" title="{$lang.form_notice}"> <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.min_goods_amount}</td>
    <td><input name="min_goods_amount" type="text" id="min_goods_amount" value="{$bonus_arr.min_goods_amount}" size="20" />
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="NoticeMinGoodsAmount">{$lang.notice_min_goods_amount}</span> </td>
  </tr>


  <tr>
    <td class="label">{$lang.user_rank_switch}</td>
    <td valign="middle">
      <input class="user-rank-on" type="radio" name="user_rank_on" value="0" {if $bonus_arr.user_rank_on eq 0}checked="true"{/if}/>{$lang.user_rank_on[0]}
      <input class="user-rank-on" type="radio" name="user_rank_on" value="1" {if $bonus_arr.user_rank_on eq 1}checked="true"{/if}/>{$lang.user_rank_on[1]}
    </td>
  </tr>

   <tr class="user-rank-switch-block"  {if $bonus_arr.user_rank_on eq 0}style="display:none"{/if}>
    <td class="label">{$lang.user_rank_list}</td>
    <td valign="middle">
      {foreach from=$rank_list item=rank}
			 <input type="checkbox" name="user_rank[]" value="{$rank.rank_id}" {if in_array($rank.rank_id,$bonus_arr.user_rank)}checked{/if}/>{$rank.rank_name}
	  {/foreach}
    </td>
  </tr>

 <tr>
    <td class="label">{$lang.user_rank_distribute}</td>
    <td valign="middle">
      <input type="radio" name="is_distribute" value="0" {if $bonus_arr.is_distribute eq 0}checked="true"{/if}/>{$lang.is_distribute[0]}
      <input type="radio" name="is_distribute" value="1" {if $bonus_arr.is_distribute eq 1}checked="true"{/if}/>{$lang.is_distribute[1]}
    </td>
  </tr>


  <tr>
    <td class="label">{$lang.send_goods_use}</td>
    <td valign="middle">
      <input class="goods-use" type="radio" name="goods_use" value="0" {if $bonus_arr.goods_use eq 0}checked="true"{/if}/>{$lang.goods_use[0]}
      <input class="goods-use" type="radio" name="goods_use" value="1" {if $bonus_arr.goods_use eq 1}checked="true"{/if}/>{$lang.goods_use[1]}
    </td>
  </tr>

  <tr class="goods-search" {if $bonus_arr.goods_use eq 0}style="display:none"{/if}>
	<input name="goods_ids" type="hidden" value="" />
    <td width="14%" align="right">{$lang.pls_search_goods}</td>
    <td width="86%"><!-- 分类 -->
      <select name="cat_id"><option value="0">{$lang.custom_goods_cat}</option>{$cat_list}</select>
	  <!-- 品牌 -->
      <select name="brand_id"><option value="0">{$lang.custom_goods_brand}</option>{html_options options=$brand_list}</select>
      <!-- 关键字 -->
      {$lang.label_search_goods}<input name="keyword" type="text" id="keyword" size="10">
      <!-- 搜索 -->
      <input name="search" type="button" id="search" value="{$lang.button_search}" class="button" onclick="searchGoods()" /></td>
  </tr>
  <tr class="goods-search" {if $bonus_arr.goods_use eq 0}style="display:none"{/if}>
    <td class="label">{$lang.label_goods_name}</td>
    <td>
		<table width="100%" border="0">
		  <tr>
			<td width="46%"><select name="src_goods_lists" id="src_goods_lists" size="14" style="width:100%" multiple="true">
					  </select></td>
			<td rowspan="2" width="8%" style="text-align:center;">
			  <p><input type="button" value=">>" id="addAllGoods" class="button" /></p>
			  <p><input type="button" value=">" id="addGoods" class="button" /></p>
			  <p><input type="button" value="<" id="delGoods" class="button" /></p>
			  <p><input type="button" value="<<" id="delAllGoods" class="button" /></p>
			</td>
			<td width="46%">
				<select name="dst_goods_lists" id="dst_goods_lists" size="14" style="width:100%" multiple="true">
					{foreach from=$bonus_arr.dst_goods_lists item=goods}
						<option value="{$goods.goods_id}">{$goods.goods_name}</option>
					{/foreach}
				</select>
			</td>
		  </tr>
		</table>
    </td>
  </tr>

  <tr>
    <td class="label">{$lang.send_method}</td>
    <td valign="middle">
      <input type="radio" name="send_type" value="0" {if $bonus_arr.send_type eq 0} checked="true" {/if} onClick="showunit(0)"/>{$lang.send_by[0]}
      <input type="radio" name="send_type" value="1" {if $bonus_arr.send_type eq 1} checked="true" {/if} onClick="showunit(1)"/>{$lang.send_by[1]}
      <input type="radio" name="send_type" value="2" {if $bonus_arr.send_type eq 2} checked="true" {/if} onClick="showunit(2)"/>{$lang.send_by[2]}
      <input type="radio" name="send_type" value="3" {if $bonus_arr.send_type eq 3} checked="true" {/if} onClick="showunit(3)"/>{$lang.send_by[3]}
      <input style="display: none" type="radio" name="send_type" value="4" {if $bonus_arr.send_type eq 4} checked="true" {/if} onClick="showunit(4)"  /><span style="display: none">{$lang.send_by[4]}</span> 
       <input type="radio" name="send_type" value="5" {if $bonus_arr.send_type eq 5} checked="true" {/if} onClick="showunit(5)"  />{$lang.send_by[5]} 
    </td>
  </tr>
  
  <tr  class="money-type-show" {if $bonus_arr.send_type neq 2}style="display:none"{/if}>
    <td class="label">{$lang.send_money_type}</td>
    <td valign="middle">
      <input class="money-type" type="radio" name="money_type" value="0" {if $bonus_arr.money_type eq 0} checked="true" {/if}/>{$lang.money_type[0]}
      <input class="money-type" type="radio" name="money_type" value="1" {if $bonus_arr.money_type eq 1} checked="true" {/if}/>{$lang.money_type[1]}
    </td>
  </tr>
  
  <tr  class="money-type-block" {if $bonus_arr.send_type neq 2 || $bonus_arr.money_type eq 0}style="display:none"{/if}>
	<td class="label">{$lang.block}</td>
	
	<td valign="middle">
		<table width="100%" border="0" id="block_list">
		  <tr>
			<td>
				<input type="button" value="{$lang.add_block}" class="button add-block">
			</td>
		  </tr>
		  {foreach from=$bonus_arr.money_block  key=k item=money_block}
		  <tr>
			<td>
				<span class="block-main left-float">
					<input class="block-input"  name="money[money_left][]" type="text" value="{$money_block.left}">
					<input class='block-button button' type="button" value="~" class="button" />
					<input class="block-input" name="money[money_right][]" type="text" value="{$money_block.right}">
					<span class="left-float">
						<label class="left-float block-label">
						{$lang.bonus_money}
						</label>
						<input class="block-input" name="money[bonus_money][]" type="text" value="{$money_block.money}">
					</span>
				</span>
				{if $k>0}
				<span class="block-remove">
					<input type="button" value="{$lang.remove_block}" class="button" />
				</span>
				{/if}
			</td>
		  </tr>
		  {/foreach}
		  
		</table>
	</td>
  </tr>

  <script>
	

  </script>

  <tr id="1" style="display:none">
    <td class="label">
      <a href="javascript:showNotice('Order_money_a');" title="{$lang.form_notice}">
      <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.min_amount}</td>
    <td>
      <input name="min_amount" type="text" id="min_amount" value="{$bonus_arr.min_amount}" size="20" />
      <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="Order_money_a">{$lang.order_money_notic}</span>    </td>
  </tr>
  <tr  id="start_date">
    <td class="label">
      <a href="javascript:showNotice('Send_start_a');" title="{$lang.form_notice}">
      <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.send_startdate}</td>
    <td>
      <input name="send_start_date" type="text" id="send_start_date" size="22" value='{$bonus_arr.send_start_date}' readonly="readonly" /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('send_start_date', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>
      <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="Send_start_a">{$lang.send_startdate_notic}</span>    </td>
  </tr>
  <tr id="end_date">
    <td class="label">{$lang.send_enddate}</td>
    <td>
      <input name="send_end_date" type="text" id="send_end_date" size="22" value='{$bonus_arr.send_end_date}' readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('send_end_date', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>    </td>
  </tr>
  <tr>
    <td class="label">
	  <a href="javascript:showNotice('Use_start_a');" title="{$lang.form_notice}">
      <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>
	{$lang.use_startdate}</td>
    <td>
      <input name="use_start_date" type="text" id="use_start_date" size="22" value='{$bonus_arr.use_start_date}' readonly="readonly" /><input name="selbtn3" type="button" id="selbtn3" onclick="return showCalendar('use_start_date', '%Y-%m-%d', false, false, 'selbtn3');" value="{$lang.btn_select}" class="button"/>
	  <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="Use_start_a">{$lang.use_startdate_notic}</span>    </td>
  </tr>
  <tr>
    <td class="label">{$lang.use_enddate}</td>
    <td>
      <input name="use_end_date" type="text" id="use_end_date" size="22" value='{$bonus_arr.use_end_date}' readonly="readonly" /><input name="selbtn4" type="button" id="selbtn4" onclick="return showCalendar('use_end_date', '%Y-%m-%d', false, false, 'selbtn4');" value="{$lang.btn_select}" class="button"/>    </td>
  </tr>
 
  
  
  
   <tr id="3">
    <td class="label">{$lang.user_bonus_max}</td>
    <td>
        {* 代码修改 By www.68ecshop.com Start *}
        <!-- {if $bonus_arr.send_type neq 4} -->
        <!-- <input type='text' name='user_bonus_max' size='20' />    <br/> -->
        <!-- {else} -->
        
        <!-- {/if} -->
		<input type='text' name='user_bonus_max' size='20' value="{$bonus_arr.user_bonus_max}" onkeyup="this.value=this.value.replace(/[^0-9]/ig,'')" onafterpaste="this.value=this.value.replace(/[^0-9]]/ig,'')" />    <br/>
        {* 代码修改 By www.68ecshop.com End *}
	  <span class="notice-span" >{$lang.bonus_type4_max_notic}</span>   
	  </td>
  </tr>
  

  <tr>
    <td class="label">&nbsp;</td>
    <td>
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden" name="act" value="{$form_act}" />
      <input type="hidden" name="type_id" value="{$bonus_arr.type_id}" />    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="javascript">

document.forms['theForm'].elements['type_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("type_name",      type_name_empty);
  validator.required("type_money",     type_money_empty);
  validator.isNumber("type_money",     type_money_isnumber, true);
  validator.islt('send_start_date', 'send_end_date', send_start_lt_end);
  validator.islt('use_start_date', 'use_end_date', use_start_lt_end);
    /* 代码增加 By  www.68ecshop.com Start */
    if(document.getElementById("3").style.display == "")
    {
        validator.required("user_bonus_max", '用户领取线上红包上限不能为空');
        validator.isNumber("user_bonus_max", '用户领取线上红包上限必须为数字');
    }
    /* 代码增加 By  www.68ecshop.com Start */
  if (document.getElementById(1).style.display == "")
  {
    var minAmount = parseFloat(document.forms['theForm'].elements['min_amount'].value);
    if (isNaN(minAmount) || minAmount <= 0)
    {
	  validator.addErrorMsg(invalid_min_amount);
    }	
  }
	
  var dst_obj = document.forms['theForm'];
  copy_search_result(dst_obj);

  return validator.passed();
}
onload = function()
{
  {/literal}
  get_value = '{$bonus_arr.send_type}';
  {literal}

  showunit(get_value)
  // 开始检查订单
  startCheckOrder();
}
/* 红包类型按订单金额发放时才填写 */
function gObj(obj)
{
  var theObj;
  if (document.getElementById)
  {
    if (typeof obj=="string") {
      return document.getElementById(obj);
    } else {
      return obj.style;
    }
  }
  return null;
}

function showunit(get_value)
{
	if(get_value==0||get_value==3||get_value==5){
		$("#start_date").hide();
		$("#end_date").hide();
	}else{
		$("#start_date").show();
		$("#end_date").show();
	}
	if(get_value == 2){
		$('.money-type-show').show();
	}else{
		$('.money-type-show').hide();
	}
  gObj("1").style.display =  (get_value == 2) ? "" : "none";
    /* 代码增加 By  www.68ecshop.com Start */
    gObj("2").style.display =  (get_value == 4) ? "" : "none";
    gObj("3").style.display =  (get_value == 4) ? "" : "none";
    /* 代码增加 By  www.68ecshop.com End */
  document.forms['theForm'].elements['selbtn1'].disabled  = (get_value != 1 && get_value != 2);
  document.forms['theForm'].elements['selbtn2'].disabled  = (get_value != 1 && get_value != 2);

  return;
}

function copy_search_result(dst_obj)
	{
			var goods_lists = Utils.$('dst_goods_lists');
			for (var i=0, l=goods_lists.options.length; i<l; i++)
			{
					var separator = (i==0) ? '' : ',';
					dst_obj.goods_ids.value += separator + goods_lists.options[i].value;
			}
	}
//-->
</script>
<script language="JavaScript">
/**
 * 检查表单输入的数据
 */
	
	$(function(){
		$('.add-block').click(function(){
			var html = creatBlockHtml();
			$('#block_list').append(html);
		});
		var block_remove= '{$lang.remove_block}';
		var bonus_money= '{$lang.bonus_money}';
		function creatBlockHtml(){
			html = '<tr><td><span class="block-main left-float"><input class="block-input"  name="money[money_left][]" type="text" value=""><input class="block-button button" type="button" value="~" class="button" /><input class="block-input" name="money[money_right][]" type="text" value=""><span class="left-float"><label class="left-float block-label">'+bonus_money+'</label><input class="block-input" name="money[bonus_money][]" type="text" value=""></span></span><span class="block-remove"><input type="button" value="'+block_remove+'" class="button" /></span></td></tr>';
			return html;
		}
		$("#block_list").delegate(".block-remove","click",function(){
			$(this).parents('tr')[0].remove();
		});

		$('.money-type').click(function(){
			var type_value = $(this).val();
			if(type_value == 0){
				$('.money-type-block').hide();
			}else{
				$('.money-type-block').show();
			}
		});
	});


	$('.goods-use').click(function(){
		var radio_value = $(this).val();
		if(radio_value == 0){
			$('.goods-search').hide();
		}else{
			$('.goods-search').show();
		}
	});
	$('.user-rank-on').click(function(){
		var radio_value = $(this).val();
		if(radio_value == 0){
			$('.user-rank-switch-block').hide();
		}else{
			$('.user-rank-switch-block').show();
		}
	});
	function searchGoods()
	{
	  var filter = new Object;
	  filter.cat_id = document.forms['theForm'].elements['cat_id'].value;
		filter.brand_id = document.forms['theForm'].elements['brand_id'].value;
		filter.keyword = document.forms['theForm'].elements['keyword'].value;

	  Ajax.call('distrib_goods.php?is_ajax=1&act=search_goods', filter, searchGoodsResponse, 'GET', 'JSON');
	}

	function searchGoodsResponse(result)
	{
	  if (result.error == '1' && result.message != '')
	  {
		alert(result.message);
			return;
	  }

	  var sel = document.forms['theForm'].elements['src_goods_lists'];

	  sel.length = 0;

	  /* 创建 options */
	  var goods = result.content;
	  if (goods)
	  {
			for (i = 0; i < goods.length; i++)
			{
				var opt = document.createElement("OPTION");
				opt.value = goods[i].goods_id;
				opt.text  = goods[i].goods_name;
				sel.options.add(opt);
			}
	  }

	  return;
	}

	/* 操作自定义商品的Select Box */
	var MySelectBox;
	var MySelectBox2;
	if (!MySelectBox)
	{
			var global = $import("../js/global.js","js");
			global.onload = global.onreadystatechange= function()
			{
					if(this.readyState && this.readyState=="loading")return;
					var selectbox = $import("js/selectbox.js","js");
					selectbox.onload = selectbox.onreadystatechange = function()
					{
							if(this.readyState && this.readyState=="loading")return;
							MySelectBox = new SelectBox('src_goods_fields', 'dst_goods_fields');
							MySelectBox2 = new SelectBox('src_goods_lists', 'dst_goods_lists', true);
					}
			}
	}
	if (Utils.$('addItem'))
	{
			Utils.$('addItem').onclick = function ()
			{
					MySelectBox.addItem();
			}
	}
	if (Utils.$('delItem'))
	{
			Utils.$('delItem').onclick = function ()
			{
					MySelectBox.delItem();
			}
	}
	if (Utils.$('addAllItem'))
	{
			Utils.$('addAllItem').onclick = function ()
			{
					MySelectBox.addItem(true);
			}
	}
	if (Utils.$('delAllItem'))
	{
			Utils.$('delAllItem').onclick = function ()
			{
					MySelectBox.delItem(true);
			}
	}
	if (Utils.$('src_goods_fields'))
	{
			Utils.$('src_goods_fields').ondblclick = function ()
			{
					MySelectBox.addItem();
			}
	}
	if (Utils.$('dst_goods_fields'))
	{
			Utils.$('dst_goods_fields').ondblclick = function ()
			{
					MySelectBox.delItem();
			}
	}
	if (Utils.$('mvUp'))
	{
			Utils.$('mvUp').onclick = function ()
			{
					MySelectBox.moveItem('up');
			}
	}
	if (Utils.$('mvDown'))
	{
			Utils.$('mvDown').onclick = function ()
			{
					MySelectBox.moveItem('down');
			}
	}

	if (Utils.$('addGoods'))
	{
			Utils.$('addGoods').onclick = function ()
			{
					MySelectBox2.addItem();
			}
	}
	if (Utils.$('delGoods'))
	{
			Utils.$('delGoods').onclick = function ()
			{
					MySelectBox2.delItem();
			}
	}
	if (Utils.$('addAllGoods'))
	{
			Utils.$('addAllGoods').onclick = function ()
			{
					MySelectBox2.addItem(true);
			}
	}
	if (Utils.$('delAllGoods'))
	{
			Utils.$('delAllGoods').onclick = function ()
			{
					MySelectBox2.delItem(true);
			}
	}
	if (Utils.$('src_goods_lists'))
	{
			Utils.$('src_goods_lists').ondblclick = function ()
			{
					MySelectBox2.addItem();
			}
	}
	if (Utils.$('dst_goods_lists'))
	{
			Utils.$('dst_goods_lists').ondblclick = function ()
			{
					MySelectBox2.delItem();
			}
	}
</script>




{/literal}
{include file="pagefooter.htm"}
